<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Demo WebRTC</title>
  </head>
  <body>
    <h1>Biikachu</h1>
    <video id="localStream" width="300" controls></video>
    <script src="bundle.js"></script>
  </body>
</html>
